@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Cores do sistema */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Cores personalizadas */
  --color-primary: hsl(357, 100%, 55%);
  --color-secondary: hsl(153, 97%, 26%);
  
  /* Fontes atualizadas para o Tailwind v4 */
  --font-sans: var(--font-dm-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Removido o Arial fixo para que o corpo do site herde a fonte do Tailwind */
}